/* dropdown.css */

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'San Francisco', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f7; /* Apple 웹사이트와 유사한 배경색 */
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* 둥근 모서리 */
    z-index: 1;
}

.dropdown-content a {
    color: #1d1d1f; /* Apple 웹사이트와 유사한 글자색 */
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #d1d1d6; /* 아래쪽 경계선 추가 */
}

.dropdown-content a:last-child {
    border-bottom: none; /* 마지막 항목의 아래쪽 경계선 제거 */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Nested dropdown styles (중첩 드롭다운 스타일) */

.nested-dropdown {
    position: relative;
}

.nested-content {
    display: none;
    position: absolute;
    background-color: #f5f5f7;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
}

.nested-dropdown:hover .nested-content {
    display: block;
    left: 100%;
    top: 0;
}
