/* dropdown.css */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Nested dropdown styles */

.nested-dropdown {
    position: relative;
}

.nested-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2; /* 중첩된 드롭다운을 위에 표시하기 위해 z-index를 증가 */
}

.nested-dropdown:hover .nested-content {
    display: block;
    left: 100%; /* 중첩된 드롭다운을 오른쪽에 표시 */
    top: 0;
}
