<div class="topbar">
    <a href="/index.html" class="menu-item">Home</a>
    <div class="dropdown menu-item">
        <a href="/html/blog.html">Blog</a>
        <div class="dropdown-content">
            <div class="dropdown nested-dropdown">
                <a href="#">Coding</a>
                <div class="dropdown-content nested-content">
                    <a href="#">Java</a>
                    <a href="#">Python</a>
                    <a href="#">C++</a>
                    <a href="#">apple script</a>
                    <a href="#">JavaScript</a>
                    <a href="#">VBA</a>
                </div>
            </div>
            <div class="dropdown nested-dropdown">
                <a href="#">Security</a>
                <div class="dropdown-content nested-content">
                    <a href="#">apple script</a>
                    <a href="#">JavaScript</a>
                    <a href="#">VBA</a>
                </div>
            </div>
            <div class="dropdown nested-dropdown">
                <a href="#">Certification</a>
                <div class="dropdown-content nested-content">
                    <a href="#">Java</a>
                    <a href="#">Python</a>
                    <a href="#">C++</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>
